@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  touch-action: manipulation;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}